<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>consulter...</title>
</head>
<body>

<li> <a href="/vtapp"> Acceuil </a> --<a href="/vtapp/get_name"> ajout Membres </a>--  <a href="/vtapp/membres"> Info Membres </a>--  <a href="/vtapp/finances"> finance </a> --


<p>Consulter</p>



<form action="/vtapp/get_name/" method="post">
    {% csrf_token %}
        <fieldset disabled="disabled">

            {{ form.as_p }}

        <fieldset/>
    <input type="submit" value="Enregistrer" />
</form>





<p>&nbsp;</p>

</body>
</html>