<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VT DEMO APP</title>
</head>
<body>

<li> <a href="/vtapp"> Acceuil </a> --<a href="/vtapp/get_name"> ajout Membres </a>--  <a href="/vtapp/membres"> Info Membres </a>--  <a href="/vtapp/finances"> finance </a> --


<p>Information Financiere</p>


<p>&nbsp;</p>

<p><a href="/vtapp/transaction"><strong>Entrer une information </strong></a></p>

<p><a href="/vtapp/search"><strong>Consulter une information</strong></a></p>

<p><a href="/vtapp/finances"><strong>Dépenses</strong></a></p>

</body>
</html>